
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.color-black{
    color: black;
}
.margin-top-200{
    margin-top: 200px;
}
.container-fluid{
    /* margin: 0px 100px 0px 100px; */
}
.p-color{
    color:#616161;
    font-family: Mulish;
    line-height:28.8px;
    margin: 0px 0px 10px;
}
.footer{
    height: 100px;
    
}
.selections{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 1%;
}
.lienhe{
    position: absolute;
    right: 20px;
    top: 20%;
    align-items: center;
}
.lienhe a{
    justify-content: right;
    background-color: #1030bf;
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 2px;
}
.banner-content {
    color: black;
    margin-top: 100px;
}
.bim-gif{
    width: 100%;
}
.xemchitiet{
    display: block;
    margin-top: 50px;
    width: 150px;
    background-color: #1030bf;
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 2px;
}


.course_img{
    height: 300px;
    width: 87%;
}
.rating{
    display: flex;
}
.rating li i{
    padding-right: 7px;
    color: #1030bf;
}
.course-content{
    position: relative;
    padding: 20px 15px 1px 15px;

    margin-bottom: 42px;
}
.price{
    position: absolute;
    right: 0;
    background-color: red;
    height: 76px;
    width: 76px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    border-radius: 50%;
    margin-top: -38px;
}

.tag{
    font-size: 15px;
    color: #616161;
}

.animaiton_hover_course:hover{
    transform: translateY(-10px);
    transition: all linear 0.75s;
}


.single-course{

    background-color: #fff;
}


.lessons{
    display: flex;
    justify-content: space-between;
}
.lessons li{
    color: #616161;
}
